services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: /home/whtslv/recrut_platform
      dockerfile: backend/Dockerfile
    environment:
      DATABASE_URL: postgresql://app:app@db:5432/app_db
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: /home/whtslv/recrut_platform
      dockerfile: frontend/Dockerfile
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  db_data:



